#bottom-banner-container{
  display: grid;
    height: 10vh;
    width: 100vw;
    justify-items: center;
    background-color: rgb(250,250,250);
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#follow-us-wrapper{
  height:1vh;
  width: 10vw;
  grid-column-start: 3;
  margin-right: 2vw;  
  grid-row-start: 1;  
  position: relative;
  z-index: 3;
}

#follow-us-paragraph{
  height:1vh;
  width: 10vw;
  font-size: 1vw;
  font-weight: 700;
  color: black;
  position: absolute;
  z-index: 4;
  margin-top: 1vh;
}

#social-media-icon-container{
  grid-column-start: 3; 
  grid-row-start: 3;  
  position: relative;
  z-index: 3;
  margin-left: -8vw;
}

#bottomFacebook{
  height: 3vh;
  width: 5vw;
  color: purple;
  margin-right: -1vw;

}

#bottomInsta{
  height: 5vh;
  width: 3vh;
  color: purple;
  z-index: 4;
  position: relative;


}