#bottomBannerWrapper{
  display: grid;
    height: 10vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    justify-items: center;
    background-color: rgb(250,250,250);
    width: 100vw;
 
}

#followUsDiv{
  grid-column-start: 3;
  margin-right: 2vw;  
  grid-row-start: 1;  
  height:1vh;
  width: 10vw;
  position: relative;
  z-index: 3;
}

#followUsP{
 color: black;
 font-size: 1vw;
 position: absolute;
  z-index: 4;
  height:1vh;
  width: 10vw;
  font-weight: 700;
  margin-top: 1vh;
}

#socialMediaIcons{
  position: relative;
  z-index: 3;
  grid-column-start: 3; 
  grid-row-start: 3;  
  margin-left: -8vw;
}

#bottomFacebook{
  height: 3vh;
  width: 3vw;
  color: purple;
 

}

#bottomInsta{
  height: 3vh;
  width: 3vh;
  stroke: rgb(220,211,225);
  stroke-width: 50px;
  z-index: 4;
  fill: blue;

}
