#topBannerImage{
  height: 80vh;
  position: relative;
  width:100vw
}

#topBannerContainer{
height: 80vh 
}

#topBannerImageContainer{
  width: 100vw;
  height: 80vh;
  grid-column: 1/20 
}

#topBannerId{
height: 80vh;
width: 100%;
display: grid;
grid-template-columns: repeat(15, 5%);
grid-template-rows: repeat(10, 5%);

}

#topBannerButtonContainer{
  display: grid;
  grid-column: 10 / span 2;
  grid-row: 11;
  margin-top: 50%;
}

#logoWhite {
  width: 20vw;
  height: 10vh;
}

#logoWhiteContainer {
    width: 20vw;
    height: 10vh;
    z-index: 3;
    margin-right: -10vh;
    margin-top: -10vh;
    grid-column-end: 3;
    grid-row: 4;

}

#outlineLetterLogo{
font-size: 5.6vw;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: white;
grid-column-start: 2;
margin-left: -5%;
color: rgba(0, 0, 0, 0);
font-family: 'Roboto', sans-serif;
}

#outlineLetterLogoContainer{
display: grid;
width: 50vw;
height: 20vh;
margin-left: -2vw;
margin-top:  -5vh;
}

#bigLogoContainer{
  display: grid;
  position: relative;
  height: 50vh;
  width: 50vw;
  grid-column-end: 8;
  grid-row-end: 8;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

#thickLetterLogoContainer{
  display: grid;
  width: 50vw;
  height: 25vh;
  grid-column-end: 4;
  grid-row-end: 6;
  margin-right: -4vw;
}

#thickLetterLogo{ 
font-size: 5vw;
color: white;
font-family: 'Roboto', sans-serif;
}