#topBannerImage{
  height: 80vh;
  position: relative;
  width:100vw
}

#topBannerImageContainer{
  width: 100vw;
  grid-column: 1/20 
}

#topBannerId{
height: 75vh;
width: 100vw;
display: grid;
grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
justify-items: center;
}

#topBannerButtonContainer{
  width: 25vw;
  height: 5vh;
  justify-content: center;
  display: grid;
  margin-right: 8vw;
  grid-column-end: 12;
  grid-row: 14;
}

#logoWhite {
  width: 20vw;
  height: 50vh;
  

}
#logoWhiteContainer {
    width: 20vw;
    height: 50vh;
    z-index: 3;
    margin-right: -10vh;
    margin-top: -10vh;
    grid-column-end: 3;
    grid-row: 2;

}

#outlineLetterLogo{
font-size: 5.6vw;
width: 40vw;
height: 10%;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: white;
grid-column-end: 3;
grid-row-start: 7;
display: grid;
color: rgba(0, 0, 0, 0);
font-family: 'Roboto', sans-serif;

margin-left: -1vw;
}

#outlineLetterLogoContainer{
  display: grid;
  grid-row-start: 12;
  width: 100%;
  height: 100%;
grid-column-end: 5;
margin-top: -10vh;
}

#bigLogoContainer{
  display: grid;
  position: relative;
  height: 50vh;
  width: 50vw;
  grid-column-end: 11;
  grid-row-end: 5;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

#thickLetterLogoContainer{
  display: grid;
  width: 20vw;
  height: 100%;
margin-right: -100vw;
  grid-column-end: 0;
  margin-left: -8vw;
  grid-row-end: 4;
}

#thickLetterLogo{
  margin-left: 15vw;
font-size: 5vw;
width:35vw;
grid-column-end: 1;
grid-row-end: 3;
color: white;
font-family: 'Roboto', sans-serif;
}