@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.roosterGrinButton{
  height: 7vh;
  width: 150px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: grid;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

}

#purpleButton{
  background-color: rgb(171,95,209);
  color: white;
  font-size: 120%;
  cursor:pointer;
}

#orangeButton{
    background-color: orange;
    color: white;
    font-size: 120%;
    cursor:pointer;
    width: 60%
}
#orangeButton:hover{
  background-color: orangered;
  cursor:pointer;
  
}
#purpleButton:hover{
  background-color: purple;
  cursor:pointer;
}


#purpleButton:active{
  background-color: rgb(171,95,209)
}

#orangeButton:active{
  background-color: orange;
}

#innerButtonText{
  width: 100%;
  letter-spacing: .25vw;
  margin-top: 10%;
}