@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.roosterGrinButton{
  height: 7vh;
  width: 17vw;
  position: relative;
  justify-content: center;
  align-items: center;
  display: grid;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

}

#purpleButton{
  background-color: rgb(171,95,209);
  color: white;
  font-size: 1.5vw;
  cursor:pointer;

}

#purpleButton:hover{
  background-color: purple;
  cursor:pointer;
  
}


#purpleButton:active{

  background-color: rgb(171,95,209)
}

#innerButtonText{
  width: 20vw;
  margin-left: 5vw;
  letter-spacing: .25vw;
  margin-top: 1.75vh;
}