@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.rooster-grin-button{
  display: grid;
  height: 45px;
  width: 150px;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

}

#purple-button{
  background-color: rgb(171,95,209);
  color: white;
  font-size: 120%;
  cursor:pointer;
}

#orange-button{
    width: 60%;
    background-color: rgb(255,113,26);
    color: white;
    font-size: 10px;
    cursor:pointer;
}

#orange-button:hover{
  background-color: orangered;
  cursor:pointer;
  
}

#purple-button:hover{
  background-color: purple;
  cursor:pointer;
}


#purple-button:active{
  background-color: rgb(171,95,209)
}

#orange-button:active{
  background-color: rgb(255,113,26);
}

#inner-button-text{
  width: 100%;
  letter-spacing: .25vw;
  margin-top: 10%;
}

@media only screen 
  and (max-device-width: 769px) {

  #purple-button{
    background-color: rgb(171,95,209);
    color: white;
    font-size: 10px;
    cursor:pointer;
  }
  
  #orange-button{
    height: 35px;
    width: 115px;
    font-size: 10px;
    background-color: rgb(255,113,26);
    color: white;
    cursor:pointer;
  }
}


