#secondLoremWrapper{
  display: grid;
  background-color: white;
  grid-template-columns: repeat(8, 20%);
  grid-template-rows: repeat(5, 20%);
  height: 69vh;
  width: 62.5%
}
#secondLoremTitle{
color: purple;
font-family: 'Roboto', sans-serif;
font-size: 3.2vw;
font-weight: 700;

}

#loremLink{ 
  color: purple;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  font-weight: 700;
  font-style: bold;
}


#secondLoremSquare{
  display: grid;
  width: 30vw;
  grid-row-start: 2;
  margin-left: 30%;
  grid-column-start: 9;
}

#secondLoremParagraph{
  font-size: 1vw;
}