#homeWrapper {
display: grid;
height: 470vh;
width: 100vw;
grid-template-rows: repeat(20, 5%)
}
#topBannerContainer{
height: 33vh;
width: 100vw
}

#secondRowContainer{
grid-row-start: 4;
margin-top: 5.01vh;
height: 80vh
}

#thirdRowContainer{
  grid-row-start: 7;
  margin-top: -1vh;
  height: 90vh;
}

#fourthRowContainer{
  height: 90vh;
  grid-row-start: 10;
  margin-top: 14vh;
 
}

#fifthRowContainer{
  height: 90vh;
  grid-row-start: 13;
  margin-top: 29vh;

}

#sixthRowContainer{
  height: 60vh;
  grid-row-start: 18;
  margin-top: 6vh;
  
}

#bottomRowContainer {
  height: 10vh;
  grid-row-start: 21;

 
}