#homeWrapper {
display: grid;
height: 100vh;
width: 100vw
}
#topBannerContainer{
height: 33vh;
width: 100vw
}

#bottomBannerDiv{

    display: grid;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
   
  
}