#third-row-banner-outer-container{
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(8, 20%);
  grid-template-rows: repeat(5, 20%);
  position: relative;
}

#third-banner-inner-container{
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-template-columns: repeat(8, 20%);
  grid-template-rows: repeat(5, 20%);
  margin-left: 5vw;
  margin-top: 15vh;
 
}

#third-row-lorem{
  width: 320px;
  font-size: 40px;
  font-weight: 700;
  color: purple;
  font-family: 'Roboto', sans-serif;
  z-index: 3;
  grid-row-start: 1;
  grid-column-start: 2;
  margin-bottom: -1vh;
}

#third-row-banner-button-container{
  grid-row-start: 3;
  grid-column: 2 / span 2;
  margin-top: -8vh;

}

#third-row-banner-img{
  height: 90vh;
  width: 100vw;
  grid-row-start: 1;
}

  @media only screen 
  and (max-device-width: 769px) {

    #third-row-banner-container{
      display: grid;
      height: 500px;
      grid-template-columns: repeat(8, 20%);
      grid-template-rows: repeat(5, 20%);
    }

    #third-banner-inner-container{
      display: grid;
      width: 30vw;
      height: 30vh;
      grid-row-start: 2;
      grid-column-start: 1;
      grid-template-columns: repeat(8, 20%);
      grid-template-rows: repeat(5, 20%);
      margin-left: 1vw;
      margin-top: 12vh;
    }
    
    #third-row-lorem{
      width: 500px;
      font-size: 20px;
      font-weight: 700;
      color: purple;
      font-family: 'Roboto', sans-serif;
      grid-row-start: 1;
      grid-column-start: 2;
      margin-bottom: -1vh;
      z-index: 3;
      }

      #third-row-banner-button-container{
        height: 100px;
        grid-row-start: 3;
        grid-column: 2 / span 8;
        margin-top: -40px;
      }

      #third-row-banner-img{
        height: 60vh;
        width: 100vw;
        grid-row-start: 1;
      }
    
}

