#thirdRowBannerImg{
  height: 90vh;
  width: 100vw;
  grid-row-start: 1;
}

#thirdRowBannerWrapper{
  display: grid;
  grid-template-columns: repeat(8, 20%);
  grid-template-rows: repeat(5, 20%);

}

#thirdRowBannerButtonContainer{
  width: 25vw;
  height: 5vh;
  grid-row-start: 3;
  grid-column-start: 1;
  margin-left: 10vw;
  justify-content: center;
  display: grid;
}

#thirdRowLorem{
  color: purple;
  font-family: 'Roboto', sans-serif;
  font-size: 8vh;
  font-weight: 700;
  margin-bottom: -1vh;
  display: relative;
  z-index: 3;
  grid-row-start: 1;
  grid-column-start: 2;
  width: 30vw;
  }

  #thirdBannerSquare{
    grid-template-columns: repeat(8, 20%);
    grid-template-rows: repeat(5, 20%);
    display: grid;
    grid-row-start: 2;
    grid-column-start: 1;
    width: 50vw;
    height: 50vh;
  }