#thirdRowBannerImg{
  height: 90vh;
  width: 100vw;
  grid-row-start: 1;
}

#thirdRowBannerWrapper{
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(8, 20%);
  grid-template-rows: repeat(5, 20%);

}

#thirdRowBannerButtonContainer{
  grid-row-start: 3;
  grid-column: 2 / span 2;
  margin-top: -8vh;

}

#thirdRowLorem{
  color: purple;
  font-family: 'Roboto', sans-serif;
  font-size: 8vh;
  font-weight: 700;
  margin-bottom: -1vh;
  display: relative;
  z-index: 3;
  grid-row-start: 1;
  grid-column-start: 2;
  width: 30vw;
  }

  #thirdBannerSquare{
    grid-template-columns: repeat(8, 20%);
    grid-template-rows: repeat(5, 20%);
    display: grid;
    grid-row-start: 2;
    grid-column-start: 1;
    width: 50vw;
    height: 50vh;
    margin-left: 5vw;
    margin-top: 15vh;
   
  }