#secondRowContainer{
  display: grid;
  height: 50vh;
  width: 100vw;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;

}

#secondLoremWrapper{
grid-column-start: 1;
grid-row-start: 1;
}

#secondPicWrapper{
grid-column-start: 2;

}