#fourthRowWrapper {
  height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

#fourthPicWrapper{
  grid-column-start: 2;
}

#fourthLoremWrapper{
  grid-column-start: 1;
}


#fourthLoremWrapper{
  display: grid;
  background-color: white;
  grid-template-columns: repeat(8, 20%);
  grid-template-rows: repeat(5, 20%);
  height: 100%
}
#fourthLoremTitle{
color: purple;
font-family: 'Roboto', sans-serif;
font-size: 3vh;
font-weight: 700;
margin-bottom: -1vh;
}

#fourthLoremLink{ 
  color: purple;
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  font-weight: 700;
  font-style: bold;
}
#secondLoremParagraphContainer{


}

#fourthLoremSquare{
  display: grid;
  width: 30vw;
  grid-row-start: 3;
  grid-column-start: 9;
}
