#fourth-row-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100vw
}

#fourth-pic-wrapper{
  grid-column-start: 2;
}

#fourth-lorem-wrapper{
  background-color: white;
}

@media only screen 
and (max-device-width: 769px) {
    #fourth-row-container {
      display: grid;
      width: 100vw;
      height: 120vh;
      grid-template-columns: repeat(1,100%);
      grid-template-rows: repeat(2, 50%);
    }
    
    #fourth-pic-wrapper{
      grid-row-start: 2;
      grid-column-start:1 ;
    }
    
}
   